.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
}

.auth-box {
    -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 50%;
    height: 450px;
    max-width: 450px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
}

/* .auth-box:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    vertical-align: middle;
    height: 100%;
} */

@media screen and (max-width: 1023px) {
    .auth-box .left {
        width: 100%;
        position: inherit;
        padding: 30px;
    }
    @media screen and (max-width: 1279px) {
        .auth-box .left {
            top: 3.3em;
        }
    }
}

@media screen and (max-width: 640px) {
    .auth-box .content {
        width: 95%;
    }
}

.auth-box .header {
    margin-bottom: 30px;
}

.auth-box .form-auth-small .bottom {
    margin-top: 20px;
    text-align: center;
}

.img-circle {
    width: 10%;
}

.navbar-default .brand {
    float: left;
    padding: 30px 39px;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .navbar-nav.navbar-right {
        margin-right: 0;
    }
}

.navbar-default {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #fafafa;
}

.navbar-nav>li>.dropdown-menu {
    padding: 0;
    min-width: 200px;
}

.navbar-nav .dropdown-menu {
    border-top: 2px solid #ACB0B5;
}

.dropdown-menu {
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-color: #eaeaea;
}

.sparklinedash-cls {
    width: 40px;
}

.sparklinedash-cls img {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

.logout-cls {
    line-height: 30px !important;
    margin: 14px 20px !important;
    min-height: unset !important;
}

.logo-cls {
    transform: rotate(180deg);
}

.main_view {
    margin-top: 10%;
}

.top-left-part {
    padding: 15px;
}

.err-msg {
    color: red;
    padding: 5px 0px;
    float: left;
}

.m0 {
    margin: 0 !important;
}

.add_cls {
    font-size: 40px;
    float: left;
    margin-top: -10px;
    cursor: pointer;
    padding-right: 30px;
    color: #7460ee;
}

.icon-cls{
    color: red;
    margin-left: 5px;
}

.btn-cls{
    padding: 2px 10px;
    margin-top: -3px;
}

.btn-cnt{
    color: white !important;
    margin-top: -10px;
}

#map{
    height: 300px;
    width: 100%;
}

.mt20{
    margin-top: 20px !important;
}

.line-clamp {
    max-width: 150px;
    min-width: 150px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.center{
    text-align: center !important;
}

span.page-title-cls {
    color: gray;
}

.disable{
    pointer-events: none;
    opacity: 0.7;
}
.fl{
    float: left;
}


h4.admin-cls.fl {
    padding-left: 15px;
    font-size: 20px;
    font-weight: 400;
}
.det_cls{
    font-size: 18px !important;
    color: #ff0900;
    padding: 5px;
}
.centr_title{
    font-size: 500;
}

.selct_cls{
    padding: 5px;
    border: 0;
}

img.img_cls {
    max-width: 100%;
    display: inline-block;
}

span.img_span {
    width: 70px;
    height: 50px;
    float: left;
    padding: 10px;
}
a.reg_cls {
    cursor: pointer;
    padding-top: 12px;
    font-size: 16px;
}

.auth-box.auth_cls {
    max-width: 80% !important;
    height: inherit !important;
}
.file_cls{
    visibility: hidden;
}

.imag_cls{
    border: 1px dashed #c5b1b1;
    display: flex;
    min-height: 100px;
    max-height: 500px;
    align-items: center;
    justify-content: center;
}

.imag_cls label {
    background: #ACB0B5;
    text-align: center;
    height: 30px;
    padding: 6px;
    width: 120px;
    cursor: pointer;
}

.img{
    display: inline-block;
    max-width: 50%;
    padding: 10px;
}