<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{!isEdit ? 'Add': 'Edit'}} Vaccines</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="vaccines-list">Vaccines List</a>
                    </li>
                    <li class="active">{{!isEdit ? 'Add': 'Edit'}} Vaccines</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">{{!isEdit ? 'Add': 'Edit'}} Vaccines</h3>
                    <div class="row m0">
                        <form name="addForm" class="form-auth-small">
                            <div class="form-group col-md-6">
                                <input ng-model="vaccine.name" required name="name" type="text" class="form-control" id="signin-email1" placeholder="Vaccines Name">
                                <span class="err-msg" ng-show="addForm.name.$dirty && addForm.name.$error.required">Name is required</span>
                            </div>
                            <div class="form-group col-md-6">
                                <input ng-model="vaccine.prevents" required name="prevents" type="text" class="form-control" id="signin-password2" placeholder="Prevents">
                                <span class="err-msg" ng-show="addForm.prevents.$dirty && addForm.prevents.$error.required">Prevents is required</span>                            
                            </div>
                            <div class="row m0" ng-repeat="vacci in vaccines">
                                <div class="form-group col-md-10">
                                    <input zipcode ng-model="vacci.dose" name="dose" type="text" class="form-control" id="signin-password3" placeholder="Dose {{$index+1}}">
                                    <span ng-if="vaccines.length==1 && doseFlg" class="err-msg">This field is required</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <span class="add_cls {{($index==vaccines.length-1 && $index<4) ? '' : 'hide'}}" ng-click="addDose(dose,$index)">
                                        <i class="fa fa-plus-circle"></i>
                                    </span>
                                    <span class="add_cls {{$index <=0 &&  vaccines.length==1 ? 'hide':''}}" ng-click="deleteDose($index)">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-disabled="addForm.$invalid" ng-click="addVaccine(vaccine)" class="btn btn-primary btn-lg btn-block">{{isEdit ? 'Update': 'Add'}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>