<style>
    .err-msg{
        position: absolute;
    }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{pageId=='add' ? 'Add' : 'Update'}} Center</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="centers">Centers List</a>
                    </li>

                    <li class="active">{{pageId=='add' ? 'Add' : 'Update'}} Center</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">{{pageId=='add' ? 'Add' : 'Update'}} Center</h3>
                    <div class="row m0">
                        <form name="addForm" class="form-auth-small">
                            <div class="form-group col-md-6">
                                <input ng-model="center.name" required name="name" type="text" class="form-control" id="signin-email1" placeholder="Center Name">
                                <span class="err-msg" ng-show="addForm.name.$dirty && addForm.name.$error.required">Center name is required</span>                                
                            </div>
                            <div ng-if="pageId=='add'" class="form-group col-md-6">
                                <input ng-model="center.password" required name="password" type="password" class="form-control" id="signin-email2" placeholder="Password">
                                <span class="err-msg" ng-show="addForm.password.$dirty && addForm.password.$error.required">Password is required</span>                                
                            </div>
                            <div class="form-group col-md-6">
                                <input ng-disabled="pageId!='add'" ng-model="center.uname" required name="uname" type="text" class="form-control" id="signin-email4" placeholder="User Name">
                                <span class="err-msg" ng-show="addForm.uname.$dirty && addForm.uname.$error.required">User name is required</span>                                                                
                            </div>
                            <div class="form-group col-md-6">
                                <input ng-disabled="pageId!='add'" ng-model="center.mobile" mobile required name="mobile" type="text" class="form-control" id="signin-email5" placeholder="User Mobile">
                                <span class="err-msg" ng-show="addForm.mobile.$dirty && addForm.mobile.$error.required">Mobile is required</span>                                
                            </div>
                            <div class="form-group {{pageId=='add' ? 'col-md-12' : 'col-md-6'}}">
                                <input required name="address" id="address" type="text" class="form-control" placeholder="Address">
                            </div>
                            <div id="map"></div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-disabled="addForm.$invalid" ng-click="addCenter(center)" class="mt20 btn btn-primary btn-lg btn-block">{{pageId=='add' ? 'Add' : 'Update'}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>