<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{ !isEdit  ? 'Add' : 'Edit'}} Doctors </h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li ng-if="authData.role=='Admin'">
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="doctors({id:'list'})">Doctors List</a>
                    </li>

                    <li class="active">{{ !isEdit  ? 'Add' : 'Edit'}} Doctors </li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">{{ !isEdit  ? 'Add' : 'Edit'}} Doctors </h3>
                    <div class="row m0">
                        <form name="addForm" class="form-auth-small">
                            <div class="form-group col-md-12">
                                <input ng-model="doctor.name" required name="name" type="text" class="form-control" id="signin-email1" placeholder="Doctor Name">
                                <span class="err-msg" ng-show="addForm.name.$dirty && addForm.name.$error.required">Name field is required</span>                            
                            </div>
                            <div class="form-group col-md-12">
                                <input mobile ng-model="doctor.phone" required name="mobile" type="text" class="form-control" id="signin-email5" placeholder="Mobile">
                                <span class="err-msg" ng-show="addForm.mobile.$dirty && addForm.mobile.$error.required">Mobile field is required</span>                         
                            </div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-disabled="addForm.$invalid" ng-click="addDoctor(doctor)" class="mt20 btn btn-primary btn-lg btn-block">{{ !isEdit  ? 'Add' : 'Edit'}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>