<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{ !isEdit ? 'Add' : 'Edit'}} Doctors </h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="feeds({id:'list'})">News Feeds</a>
                    </li>

                    <li class="active">{{ !isEdit ? 'Add' : 'Edit'}} Feeds </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">{{ !isEdit ? 'Add' : 'Edit'}} Feeds </h3>
                    <div class="row m0">
                        <form name="addForm" class="form-auth-small">
                            <div class="form-group col-md-12">
                                <input ng-model="feed.title" required name="title" type="text" class="form-control" id="signin-email1" placeholder="Title">
                                <span class="err-msg" ng-show="addForm.title.$dirty && addForm.title.$error.required">Title is required</span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Image</label>
                                <div class="imag_cls">
                                    <label>Upload Image
                                        <input name="title" type="file" class="form-control file_cls" id="file">
                                    </label>
                                </div>
                                <!-- <span class="err-msg" ng-show="addForm.title.$dirty && addForm.title.$error.required">Title is required</span> -->
                            </div>
                            <div class="form-group col-md-12">
                                <input ng-model="feed.description" required name="desc" type="text" class="form-control" id="signin-email5" placeholder="Description">
                                <span class="err-msg" ng-show="addForm.desc.$dirty && addForm.desc.$error.required">Description is required</span>
                            </div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-disabled="addForm.$invalid" ng-click="addFeed(feed)" class="mt20 btn btn-primary btn-lg btn-block">{{ !isEdit ? 'Add' : 'Edit'}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>