<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Centers List</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <a ui-sref="center({id:'add'})" class="btn btn-cnt btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Add Centers
                    </a>
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">Centers List</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">Centers List</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Center Name</th>
                                    <th>User Name</th>
                                    <th>User Mobile</th>
                                    <th>Doctors</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="center in centersList">
                                    <td>{{$index+1}}</td>
                                    <td>{{center.name}}</td>
                                    <td>{{center.user_name}}</td>
                                    <td>{{center.user_mobile}}</td>
                                    <td>
                                        <a ui-sref="doctors({id:center.id})" class="btn btn-cls btn-primary">
                                            View &nbsp;<i class="fa fa-info-circle"></i>
                                        </a>
                                    </td>
                                    <td width="250">
                                        <span class="pointer" ng-click="openMap(center.latitude,center.longitude)">
                                            <span class="line-clamp1">{{center.address}}</span>
                                            <i class="fa fa-map-marker icon-cls"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <a ui-sref="center({id:center.id})" class="btn btn-cls btn-primary">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a ng-click="goDetail(center)" class="btn btn-cls btn-primary">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a ng-click="deleteModal(center.id)" class="btn btn-cls btn-primary">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="centersList.length==0" class="nodata_found center">
                            <span>No Centers are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You sure to delete this Center?</h4>
                <!-- <p>Note: You cannot undo the action.</p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="deleteCenter()" data-dismiss="modal">Yes, Delete</button>
            </div>
        </div>

    </div>
</div>