<style>
    .err-msg {
        position: absolute;
    }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Profile</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li class="active">Profile</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">Profile</h3>
                    <div class="row m0">
                        <form name="addForm" class="form-auth-small">
                            <div class="form-group col-md-12">
                                <input ng-model="userDetail.uname" required name="uname" type="text" class="form-control" id="signin-email4" placeholder="User Name">
                                <span class="err-msg" ng-show="addForm.uname.$dirty && addForm.uname.$error.required">User name is required</span>
                            </div>
                            <div class="form-group col-md-12">
                                <input ng-model="userDetail.mobile" mobile required name="mobile" type="text" class="form-control" id="signin-email5" placeholder="User Mobile">
                                <span class="err-msg" ng-show="addForm.mobile.$dirty && addForm.mobile.$error.required">Mobile is required</span>
                            </div>
                            <div class="form-group col-md-12">
                                <input ng-model="userDetail.password" required name="password" type="password" class="form-control" id="signin-email2" placeholder="Password">
                                <span class="err-msg" ng-show="addForm.password.$dirty && addForm.password.$error.required">Password is required</span>
                            </div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-disabled="addForm.$invalid" ng-click="updateUser(userDetail)" class="mt20 btn btn-primary btn-lg btn-block">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>