<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4>Center Name :
                    <span class="page-title-cls">{{params.name}}</span>
                </h4>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                </a>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="centers">Centers List</a>
                    </li>
                    <li class="active">{{params.name}}</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Vaccines List</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" ng-change="getCheckAll(checkAll)" ng-model="checkAll">
                                    </th>
                                    <th>#</th>
                                    <th>Vaccines Name</th>
                                    <th>Prevents</th>
                                    <th>Dose 1</th>
                                    <th>Dose 2</th>
                                    <th>Dose 3</th>
                                    <th>Dose 4</th>
                                    <th>Dose 5</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vacci in vaccines">
                                    <th>
                                        <input type="checkbox" ng-model="vacci.checked">
                                    </th>
                                    <td>{{$index+1}}</td>
                                    <td>{{vacci.name}}</td>
                                    <td>{{vacci.prevents}}</td>
                                    <td>{{vacci.dose_1}}</td>
                                    <td>{{vacci.dose_2}}</td>
                                    <td>{{vacci.dose_3}}</td>
                                    <td>{{vacci.dose_4}}</td>
                                    <td>{{vacci.dose_5}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="center col-md-12">
                    <a ng-click="updateProvided()" class="btn btn-primary">Update Vaccines Provided</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>