<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Users</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div class="sparklinedash-cls">
                                <img src="/plugins/images/barchart.png">
                            </div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-success"></i>
                            <span class="counter text-success">{{dashboard.user_count}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Vaccines</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div class="sparklinedash-cls">
                                <img src="/plugins/images/vaccines.png">
                            </div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-purple"></i>
                            <span class="counter text-purple">{{dashboard.vaccine_count}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Centers</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div class="sparklinedash-cls">
                                <img src="/plugins/images/center.png">
                            </div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-purple"></i>
                            <span class="counter text-purple">{{dashboard.center_count}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Appointments</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div class="sparklinedash-cls">
                                <img src="/plugins/images/appointments.png">
                            </div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-purple"></i>
                            <span class="counter text-purple">{{dashboard.appointment_count}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Recent Users</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in usersList | limitTo:10">
                                    <td>{{item.index}}</td>
                                    <td class="txt-oflo">{{item.name}}</td>
                                    <td class="txt-oflo">{{item.mobile}}</td>
                                    <td class="txt-oflo">{{item.email || '-'}}</td>
                                    <td class="txt-oflo">{{item.address || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="usersList.length==0" class="nodata_found center">
                            <span>No Users are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>