<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Doctors List</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a ng-click="addDoctors(centerId)" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Add Doctors
                </a>
                <ol class="breadcrumb">
                    <li ng-if="authData.role=='Admin'">
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">Doctors List</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">Doctors List</h3>
                    <span ng-if="authData.role=='Admin'" class="centr_title">Select Center : </span>
                    <select ng-if="authData.role=='Admin'" class="selct_cls" ng-change="changeCenter(centerId)" ng-model="centerId" ng-options="item.id as item.name for item in centersList">
                    </select>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in doctorsList">
                                    <td>{{$index + 1}}</td>
                                    <td class="txt-oflo">{{item.name}}</td>
                                    <td class="txt-oflo">{{item.phone}}</td>
                                    <td>
                                        <a ng-click="editDoctors(item)" class="btn btn-cls btn-primary">Edit &nbsp;&nbsp;<i class="fa fa-pencil"></i></a>
                                        <a ng-click="deleteModal(item.id)" class="btn btn-cls btn-primary">Delete &nbsp;&nbsp;<i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="doctorsList.length==0" class="nodata_found center">
                            <span>No Doctors are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You sure to delete this doctor?</h4>
                <!-- <p>Note: You cannot undo the action.</p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="deleteDoctor()" data-dismiss="modal">Yes, Delete</button>
            </div>
        </div>

    </div>
</div>