<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">News Feeds</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a ng-click="addFeeds()" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Add Feeds
                </a>
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">News Feeds</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">News Feeds</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in feedsList">
                                    <td>{{$index + 1}}</td>
                                    <td width="100" class="txt-oflo">{{item.title}}</td>
                                    <td width="200" class="txt-oflo">{{item.description}}</td>
                                    <td class="txt-oflo"><span class="img_span"><img class="img_cls" src="{{item.image ? ('http://vaccine.glivade.in/' + item.image) : ''}}"></span></td>
                                    <td class="txt-oflo">{{item.created_at}}</td>
                                    <td>
                                        <a ng-click="editFeeds(item)" class="btn btn-cls btn-primary">Edit &nbsp;&nbsp;<i class="fa fa-pencil"></i></a>
                                        <a ng-click="deleteModal(item.id)" class="btn btn-cls btn-primary">Delete&nbsp;&nbsp;<i class="fa fa-trash det-cls"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="feedsList.length==0" class="nodata_found center">
                            <span>No Feeds are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You sure to delete this Feed?</h4>
                <!-- <p>Note: You cannot undo the action.</p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="deleteFeed()" data-dismiss="modal">Yes, Delete</button>
            </div>
        </div>

    </div>
</div>