<!DOCTYPE html>
<html lang="en" ng-app="vaccines">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Vaccines</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="css/sidebar-nav.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="css/jquery.toast.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/default.css" id="theme" rel="stylesheet">
    <link href="css/mystyle.css" id="theme" rel="stylesheet">
    <![endif]-->
</head>

<body class="fix-header">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="wrapper">
        <nav ng-hide="currPage == 'login'" class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <img src="../plugins/images/admin-logo-dark.png" alt="home" class="light-logo fl" />
                    <h4 class="admin-cls fl">{{authData.role=='Admin' ? 'Admin' : authData.name}}</h4>
                    <!-- <img src="../plugins/images/admin-text-dark.png" alt="home" class="light-logo" /> -->
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a ng-if="authData.role =='Admin'"class="profile-pic" href="#"> <img src="/plugins/images/user.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{authData.name}}</b></a>
                        <a ng-if="authData.role !='Admin'" class="profile-pic"> <img src="/plugins/images/user.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{authData.name}}</b></a>
                    </li>
                    <li>
                        <a ng-click="logout()"class="pointer logout-cls btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div ng-hide="currPage == 'login'" class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li ng-if="authData.role !='Admin'" style="padding: 70px 0 0;">
                        <a ui-sref="list-appointments" class="waves-effect {{currPage == 'list-appointments' ? 'active' : ''}}"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Appointments</a>
                    </li>
                    <li ng-if="authData.role !='Admin'">
                        <a ui-sref="center-userprofile" class="waves-effect {{currPage == 'center-userprofile' ? 'active' : ''}}"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
                    </li>
                    <li ng-if="authData.role =='Admin'" style="padding: 70px 0 0;">
                        <a ui-sref="dashboard" class="waves-effect {{currPage == 'dashboard' ? 'active' : ''}}"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li ng-if="authData.role=='Admin'">
                        <a ui-sref="vaccines-list" class="waves-effect {{currPage == 'vaccines-list' ? 'active' : ''}}"><i class="fa fa fa-stethoscope	fa-fw" aria-hidden="true"></i>Vaccines</a>
                    </li>
                    <li ng-if="authData.role=='Admin'">
                        <a ui-sref="users" class="waves-effect {{currPage == 'users' ? 'active' : ''}}"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Users</a>
                    </li>
                    <li ng-if="authData.role=='Admin'">
                        <a ui-sref="centers" class="waves-effect {{currPage == 'centers' ? 'active' : ''}}"><i class="fa fa fa-hospital-o fa-fw" aria-hidden="true"></i>Centers</a>
                    </li>
                    <li>
                        <a ui-sref="doctors({id:'list'})" class="waves-effect {{currPage == 'doctors' ? 'active' : ''}}"><i class="fa fa fa-user-md fa-fw" aria-hidden="true"></i>Doctors</a>
                    </li>
                    <li ng-if="authData.role=='Admin'">
                        <a ui-sref="feeds({id:'list'})" class="waves-effect {{currPage == 'feeds' ? 'active' : ''}}"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>News Feeds</a>
                    </li>
                </ul>
            </div>
            
        </div>
        <div ui-view></div>
        <footer ng-hide="currPage == 'login'" class="footer text-center"> 2017 &copy; Vaccines</footer>
    </div>
    <script src="js/jquery.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCOrzAX5g0VlApHF497OMUPIYnQvPXuWvY&libraries=places"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/sidebar-nav.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.toast.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>

</html>