<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Appointments List</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li class="active">Appointments List</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">Appointments List</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>DOB</th>
                                    <th>Gender</th>
                                    <th>Requested On</th>
                                    <th>Appointment At</th>
                                    <th>Status</th>
                                    <th>Approve/Deny</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in appointments">
                                    <td>{{item.index}}</td>
                                    <td class="txt-oflo">{{item.name}}</td>
                                    <td class="txt-oflo">{{item.dob.split(' ')[0]}}</td>
                                    <td class="txt-oflo">{{item.gender}}</td>
                                    <td class="txt-oflo">{{item.requested_at}}</td>
                                    <td class="txt-oflo">{{item.appointment_at}}</td>
                                    <td class="txt-oflo">{{item.status}}</td>
                                    <td class="txt-oflo">
                                       <a ng-click="updateAppoint(item.id,'Approved')" class="{{item.status == 'Approved' ? 'disable' : ''}} btn btn-primary btn-cls">Accept</a>
                                       <a ng-click="updateAppoint(item.id,'Denied')" class="{{item.status == 'Denied' ? 'disable' : ''}} btn btn-primary btn-cls">Decline</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="appointments.length==0" class="nodata_found center">
                            <span>No appointments are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>