<div id="wrapper" class="main_view">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box" ng-show="!registerFlg">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center">
                                <a class="logo" href="index.html">
                                    <img src="../plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                                    <!-- <img src="../plugins/images/admin-text-dark.png" alt="home" class="light-logo" /> -->
                                </a>
                            </div>
                            <p class="lead">Login to your account</p>
                        </div>
                        <form name="loginForm" class="form-auth-small">
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Email</label>
                                <input mobile ng-model="user.uname" required name="uname" type="text" class="form-control" id="signin-email" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Password</label>
                                <input ng-model="user.password" required name="password" type="password" class="form-control" id="signin-password" placeholder="Password">
                            </div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-click="login(user)" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                            <br><br>
                            <center><a class="reg_cls" ng-click="goRegister()">Vaccine Center Registration</a></center>
                        </form>
                    </div>
                </div>
            </div>
            <div class="auth-box auth_cls" ng-show="registerFlg">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center">
                                <a class="logo" href="index.html">
                                    <img src="../plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                                </a>
                            </div>
                            <p class="lead">Vaccine Center Register</p>
                        </div>
                        <form name="addForm" class="form-auth-small">
                            <div class="form-group col-md-6">
                                <input ng-model="center.name" required name="name" type="text" class="form-control" id="signin-email1" placeholder="Center Name">
                                <span class="err-msg" ng-show="addForm.name.$dirty && addForm.name.$error.required">Center name is required</span>
                            </div>
                            <div class="form-group col-md-6">
                                <input ng-model="center.password" required name="password" type="password" class="form-control" id="signin-email2" placeholder="Password">
                                <span class="err-msg" ng-show="addForm.password.$dirty && addForm.password.$error.required">Password is required</span>
                            </div>
                            <div class="form-group col-md-6">
                                <input ng-model="center.uname" required name="uname" type="text" class="form-control" id="signin-email4" placeholder="User Name">
                                <span class="err-msg" ng-show="addForm.uname.$dirty && addForm.uname.$error.required">User name is required</span>
                            </div>
                            <div class="form-group col-md-6">
                                <input mobile ng-model="center.mobile" required name="mobile" type="text" class="form-control" id="signin-email5" placeholder="User Mobile">
                                <span class="err-msg" ng-show="addForm.mobile.$dirty && addForm.mobile.$error.required">Mobile is required</span>
                            </div>
                            <div class="form-group col-md-12">
                                <input required name="address" id="address" type="text" class="form-control" placeholder="Address">
                            </div>
                            <div id="map"></div>
                            <span class="err-msg" ng-show="errFlg">{{errMsg}}</span>
                            <button type="submit" ng-disabled="addForm.$invalid" ng-click="addCenter(center)" class="mt20 btn btn-primary btn-lg btn-block">Submit</button>
                            <br>
                            <center><a class="reg_cls" ng-click="goLogin()">Back to Login</a></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>