<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Users List</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">Users List</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title">Users List</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in usersList">
                                    <td>{{item.index}}</td>
                                    <td class="txt-oflo">{{item.name}}</td>
                                    <td class="txt-oflo">{{item.mobile}}</td>
                                    <td class="txt-oflo">{{item.email || '-'}}</td>
                                    <td class="txt-oflo">{{item.address || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="usersList.length==0" class="nodata_found center">
                            <span>No Users are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>