<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Vaccines List</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a ui-sref="add-vaccines({id:'add'})" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Add Vaccines
                </a>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="active">Vaccines List</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Vaccines List</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Vaccines Name</th>
                                    <th>Prevents</th>
                                    <th>Dose 1</th>
                                    <th>Dose 2</th>
                                    <th>Dose 3</th>
                                    <th>Dose 4</th>
                                    <th>Dose 5</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vacci in vaccines">
                                    <td>{{$index+1}}</td>
                                    <td width="100">{{vacci.name}}</td>
                                    <td width="200">{{vacci.prevents}}</td>
                                    <td>{{getWeek(vacci.dose_1)}}</td>
                                    <td>{{getWeek(vacci.dose_2)}}</td>
                                    <td>{{getWeek(vacci.dose_3)}}</td>
                                    <td>{{getWeek(vacci.dose_4)}}</td>
                                    <td>{{getWeek(vacci.dose_5)}}</td>
                                    <td>
                                        <a class="btn btn-cls btn-primary pointer" ng-click="goDetail(vacci)">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-cls btn-primary pointer" ng-click="goDelete(vacci.id)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="vaccines.length==0" class="nodata_found center">
                            <span>No Vaccines are found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You sure to delete this vaccine?</h4>
                <!-- <p>Note: You cannot undo the action.</p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="deleteVaccine()" data-dismiss="modal">Yes, Delete</button>
            </div>
        </div>

    </div>
</div>